body {
    font-size: 18px;
    line-height: 1.6;
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body>header {
    background-color: #4782a7;
    color: white;
    max-height: 40px;
    padding: 5px 10px 5px 20px;
    display: flex;
    align-items: center;
}

body>header img {
    height: 30px;
    margin: 14px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav a {
    color: white;
    margin: 0 10px 0 10px;
}

h1.title {
    color: #4782a7;
    font-size: 2em;
}

main {
    width: 900px;
    margin: 20px auto 50px auto;
    padding: 0 20px 0 20px;
    flex-grow: 1;
}

main img {
    display: block;
    margin: auto;
    max-width: 700px;
}

main h1 {
    margin-top: 50px;
    font-size: 1.6em;
}

main h2 {
    margin-top: 30px;
    font-size: 1.2em;
}

main h3 {
    margin-top: 20px;
    font-size: 1em;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

pre {
    background:#f0f0f0;
    padding:20px;
    font-family: monospace;
}
